<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/button.css')}}">
</head>
<body>


    <div class="product">
        <img src="https://m.media-amazon.com/images/I/31SCmQPqr4L._AC_UY218_.jpg">
        <h2>Blackwik</h2>
        <p>Blackwik 65W Fast Warp Dash Charger Adapter with Type C Dash Fast Charging Cable for Oneplus Mobiles Compatible with 11/11R/10/9/9T/9R/Nord/8/8 Pro/7 USB Charger Wall Plug Charging </p>
        <p><strong>Price: 2500</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/71TxEkvzzGL._AC_UY218_.jpg">
        <h2>NEWHEY</h2>
        <p>12 Pieces Dual Port USB Wall Charger USB Charger Adapter Quick Charger Cube 2.1A USB Charger Wall Plug Charging Block Replacement for Most Smartphones and Tablets (Black)</p>
        <p><strong>Price: 4999</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/51dqZ6TvxUL._AC_UY218_.jpg">
        <h2>RAVIAD</h2>
        <p>RAVIAD Nothing Original 35W Rapid Fast Type C Mobile Phone Charger Adapter Compatible with Nothing Phone 2, Phone 1 [PD PPS Technology] Support 35 Watt Power Power Delivery Charger Adaptor White</p>
        <p><strong>Price: 1499</strong></p>
        <button>Add to Cart</button>
    </div>



        <div class="product">
        <img src="https://m.media-amazon.com/images/I/71PgIV4vvdL._UY741_.jpg">
        <h2>Unisex Laptop</h2>
        <p>Unisex aptop Backpack/College Bagpack/Office Back Pack | Laptop Bag for Men and Women With premium lock sequrity</p>
        <p><strong>Price: 90000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/81jUoEoET1L._AC_CR0%2C0%2C0%2C0_SX480_SY420_.jpg">
        <h2>NEWHEY</h2>
        <p>Laptop Backpack 17 Inch Business Travel Backpacks for Men Women</p>
        <p><strong>Price: 7,635</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/71d-jk5LgKL._SY879_.jpg">
        <h2>Gosyong</h2>
        <p>NOMATIC Travel Pack- Black Water Resistant Anti-Theft 30L Flight Approved Carry on Laptop Bag Computer Backpack</p>
        <p><strong>Price: 54,178</strong></p>
        <button>Add to Cart</button>
    </div>


        <div class="product">
        <img src="https://m.media-amazon.com/images/I/61iAuMHxT3L._AC_UY226_.jpg">
        <h2>Wayona 3in1</h2>
        <p>Wayona 3in1 Nylon Braided 66W USB Fast Charging Cable with Type C, Lightening and Micro USB Port, Compatible with iPhone, iPad, Samsung Galaxy, OnePlus, Mi, Oppo, Vivo, iQOO, Xiaomi (1M, Grey) (2m , Grey)</p>
        <p><strong>Price: 600</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/611Cw7cPKxS._AC_UY500_.jpg">
        <h2>Boat</h2>
        <p>boAt Micro -Axis USB Cable with 180 Rotating Connector, 3A Fast Carging, 10000+ Bends Lifespan & Extended 1.5m Length,OnePlus, Mi, Oppo, Vivo, iQOO</p>
        <p><strong>Price: 1000</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/41JpHwMbvkL._SY445_SX262_QL218_FMwebp_.jpg">
        <h2>Gosyong</h2>
        <p>USB Extension Cable 150ft, GOSYSONG USB 2.0 Type A Male to A Female Repeater USB Cable,Long USB Extender </p>
        <p><strong>Price: 29999</strong></p>
        <button>Add to Cart</button>
    </div>


    <!-- You can add more product divs here if you have multiple products -->
<br>
<button class="custom-button">
  <a href="/#">Back To Home Page</a>
</button>
</br>



</body>


</html>
