
<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/button.css')}}">
</head>
<body>


    <div class="product">
        <img src="https://m.media-amazon.com/images/I/61VuVU94RnL._SX679_.jpg" alt="Product Image">
        <h2>Iphone 13</h2>
        <p>Apple iPhone 13 (128GB) - Midnight</p>
        <p><strong>Price: $19.99</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/61cwywLZR-L._SX679_.jpg" alt="Product Image">
        <h2>Iphone 14</h2>
        <p>Apple iPhone 14 (128 GB) - Midnight</p>
        <p><strong>Price: $19.99</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/31KxpX7Xk7L._SY445_SX342_QL70_FMwebp_.jpg" alt="Product Image">
        <h2>Iphone 15</h2>
        <p>Apple iPhone 15 (128 GB) - Midnight</p>
        <p><strong>Price: $19.99</strong></p>
        <button>Add to Cart</button>
    </div>



        <div class="product">
        <img src="https://m.media-amazon.com/images/I/31UhwG+XTJL._SY300_SX300_.jpg" alt="Product Image">
        <h2>Xiaomi 12 Pro</h2>
        <p>Xiaomi 12 Pro | 5G (Noir Black, 12GB RAM, 256GB Storage) | Snapdragon 8 Gen 1 | 50+50+50MP Flagship Cameras (OIS) | 10bit 2K+ Curved AMOLED Display</p>
        <p><strong>Price: 30000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/61RvCwjI7dL._AC_UY300_.jpg" alt="Product Image">
        <h2>Xiaomi 13</h2>
        <p>Xiaomi 12 Pro | 5G (Noir Black, 8GB RAM, 256GB Storage) | Snapdragon 8 Gen 1 | 50+50+50MP Flagship Cameras (OIS) | 10bit 2K+ Curved AMOLED Display</p>
        <p><strong>Price: 40000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/41fITfJ3uPL._SX300_SY300_QL70_FMwebp_.jpg" alt="Product Image">
        <h2>Xiaomi 10</h2>
        <p>Xiaomi 13 Pro (Ceramic Black, 12GB RAM 256GB Storage) | Leica Professional 50MP Triple Camera | Biggest Camera Sensor 1" IMX989 | SD 8 Gen 2</p>
        <p><strong>Price: 20000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/91ItZJh1FDL._SX679_.jpg" alt="Product Image">
        <h2>Samsung M34</h2>
        <p>Samsung Galaxy A34 5G (Awesome Graphite, 8GB, 256GB Storage) | 50 MP No Shake Cam (OIS) | IP67 | Gorilla Glass 5 | Voice Focus </p>
        <p><strong>Price:20000</strong></p>
        <button>Add to Cart</button>
    </div>

    <div class="product">
        <img src="https://m.media-amazon.com/images/I/41rxSxVXs7L._SX300_SY300_QL70_FMwebp_.jpg" alt="Product Image">
        <h2>Samsung Galaxy M04</h2>
        <p>Samsung Galaxy M04 5G (Smoky Teal,4GB,128GB)|50MP Triple Cam|Segment's Only 6000 mAh 5G SP</p>
        <p><strong>Price: 10000</strong></p>
        <button>Add to Cart</button>
    </div>

     <div class="product">
        <img src="https://m.media-amazon.com/images/I/71DjLEgCUYL._AC_UY300_.jpg" alt="Product Image">
        <h2>Samsung A54</h2>
        <p>Samsung Galaxy S22 Ultra 5G (Phantom Black, 12GB, 256GB Storage) with No Cost EMI/Additional Exchange Offers</p>
        <p><strong>Price: 30000</strong></p>
        <button>Add to Cart</button>
    </div>


    <!-- You can add more product divs here if you have multiple products -->
<br>
<button class="custom-button">
  <a href="/#">Back To Home Page</a>
</button>
</br>


</body>


</html>
